<div class="row">
	<footer class="footer">
		<div class="col col--8-of-12">
			<div class="footer__links">
				<div class="footer__links--box">
					<img src="../assets/icons/stats.svg" alt="Stats.svg" class="footer__links--img">
					<a href="#">Statistiken</a>
				</div>
				<div class="footer__links--box">
					<img src="../assets/icons/notebook.svg" alt="Notebook.svg" class="footer__links--img">
					<a href="#">Ergebnisse</a>
				</div>
			</div>
		</div>
		<div class="col col--1-of-12">
			<div class="footer__controls">
				<div class="footer__controls--btn btn-up">
					<img src="../assets/icons/up.svg" class="footer__controls--img" alt="Up.svg"/>
				</div>
				<div class="footer__controls--btn btn-down">
					<img src="../assets/icons/down1.svg" class="footer__controls--img" alt="Down.svg"/>
				</div>
			</div>
		</div>
		<div class="col col--3-of-12">
			<div class="footer__text">
				<p class="footer__text--info">Wette Abgeben</p>
			</div>
		</div>
	</footer>
</div>