<div class="row">
	<nav class="main__nav">
		<div class="col col--9-of-12">
			<div class="row row--no-gutter">
				<div class="col col--8-of-12">
					<div class="nav">
						<a href="#" class="nav__link nav__link--1"><img src="../assets/icons/home.svg" alt="Nav-icon.svg" class="nav__link--icon"/><br>Home</a>
						<a href="#" class="nav__link nav__link--2"><img src="../assets/icons/back.svg" alt="Nav-icon.svg" class="nav__link--icon"/><br>Zuruck</a>
						<div class="nav__box">
							<a href="#" class="nav__box--1">Livewetten</a>
							<a href="#" class="nav__box--2">Sportwetten</a>
						</div>
						<a href="#" class="nav__link nav__link--5"><img src="../assets/icons/football.svg" alt="Nav-icon.svg" class="nav__link--balls"/><span class="nav__link--number">3841</span><br>Football</a>
						<a href="#" class="nav__link nav__link--6"><img src="../assets/icons/tennis.svg" alt="Nav-icon.svg" class="nav__link--balls"/><span class="nav__link--number">149</span><br>Tennis</a>
						<a href="#" class="nav__link nav__link--7"><img src="../assets/icons/basketball.svg" alt="Nav-icon.svg" class="nav__link--balls"/><span class="nav__link--number">59</span><br>Basketball</a>
						<a href="#" class="nav__link nav__link--8"><img src="../assets/icons/volleyball.svg" alt="Nav-icon.svg" class="nav__link--balls"/><span class="nav__link--number">28</span><br>Volleyball</a>
						<a href="#" class="nav__link nav__link--9"><img src="../assets/icons/add.svg" alt="Nav-icon.svg" class="nav__link--icon"/><br>Weitere</a>
					</div>
				</div>
				<div class="col col--4-of-12">
					<div class="search">
						<form action="" method="">
							<input type="text" class="search__box" placeholder="Suche / Spielnummer">
							<input type="image" src="../assets/icons/search.svg" alt="Search.svg" class="search__button"/> 
						</form>
					</div>
				</div>
			</div>
		</div>

		<div class="col col--3-of-12">
			<div class="sidebar">
				<p class="sidebar__text">Wettschein</p>
			</div>
		</div>
	</nav>
</div>

<div class="row">
	<div class="nav__footer">
		<div class="col col--9-of-12">
			<div class="table__title">
				<p class="table__title--text">Deutschland 2. Bundesliga</p>

				<div class="table__controls">
					<img src="../assets/icons/down.svg" alt="Down.svg" class="table__controls--down"/>&nbsp;&nbsp;&nbsp;
					<img src="../assets/icons/close.svg" alt="Close.svg" class="table__controls--close"/>
				</div>
			</div>
		</div>

		<div class="col col--3-of-12">
			<div class="sidebar__nav">
				<a href="#" class="sidebar__nav--link">Einzel</a>
				<a href="#" class="sidebar__nav--link">Kombi</a>
				<a href="#" class="sidebar__nav--link">System</a>
			</div>
		</div>
	</div>
</div>