<div class="mainsidbar" id="ticket-sidebar">
	<div class="mainsidbar__ticket">
		<div class="mainsidbar__ticket--game" id="game-name">
			Heidenheim : Tsv 1860 Munchen
			<img src="../assets/icons/close1.svg" alt="close.svg" class="mainsidbar__ticket--img" id="btn-close">
		</div>
		<div class="mainsidbar__ticket--qouta" id="game-col">
			Tip: 1 <span class="mainsidbar__ticket--qouta--right" id="game-qouta">2.70</span>
		</div>
	</div>

	<div class="mainsidbar__ticket">
		<div class="mainsidbar__ticket--game">
			Fortuna Dusseldorf : Eintracht Braunschweig
			<img src="../assets/icons/close1.svg" alt="close.svg" class="mainsidbar__ticket--img btn-close">
		</div>
		<div class="mainsidbar__ticket--qouta">
			Uber/Unter 2.5 0-2<span class="mainsidbar__ticket--qouta--right">3.75</span>
		</div>
	</div>
	<div class="mainsidbar__ticket">
		<div class="mainsidbar__ticket--game">
			Heidenheim : Tsv 1860 Munchen
			<img src="../assets/icons/close1.svg" alt="close.svg" class="mainsidbar__ticket--img btn-close">
		</div>
		<div class="mainsidbar__ticket--qouta">
			Tip: 1 <span class="mainsidbar__ticket--qouta--right">2.70</span>
		</div>
	</div>

	<div class="mainsidbar__ticket">
		<div class="mainsidbar__ticket--game">
			Fortuna Dusseldorf : Eintracht Braunschweig
			<img src="../assets/icons/close1.svg" alt="close.svg" class="mainsidbar__ticket--img btn-close">
		</div>
		<div class="mainsidbar__ticket--qouta">
			Uber/Unter 2.5 0-2<span class="mainsidbar__ticket--qouta--right">3.75</span>
		</div>
	</div>
</div>

<div class="sidbarcontrolls">
	<div class="sidbarcontrolls__text"><p class="sidbarcontrolls__text--info">Alles zurucksetzen</p></div>
	<div class="sidbarcontrolls__control btn-up-1">
		<img src="../assets/icons/up.svg" alt="up.svg" class="sidbarcontrolls__control--img">
	</div>
	<div class="sidbarcontrolls__control btn-down-1">
		<img src="../assets/icons/down1.svg" alt="down1.svg" class="sidbarcontrolls__control--img">
	</div>
</div>

<div class="sum">
	<div class="sum__left">
		<div class="sum__left--top">
			<div class="sum__box--left">
				<p class="sum__box--text">Einsatz</p>
				<p class="sum__box--price">500 <img src="../assets/icons/euro.svg" alt="Euro.svg" class="sum__box--img"></p>
			</div>
			<div class="sum__box--right">
				<img src="../assets/icons/plus.svg" alt="Plus.svg" class="sum__box--image">
				<img src="../assets/icons/minus.svg" alt="Minus.svg" class="sum__box--image">
			</div>
		</div>
		<div class="sum__left--bottom">
			<p class="sum__left--text">Guthaben</p>
			<p class="sum__left--price">17,60 <img src="../assets/icons/euro.svg" alt="Euro.svg" class="sum__left--img"></p>
		</div>
	</div>
	<div class="sum__right">
		<p class="sum__right--text">Moglicher Gewinn</p>
		<p class="sum__right--price">136,80 <img src="../assets/icons/euro.svg" alt="Euro.svg" class="sum__right--img"></p>
	</div>
</div>