<tbody id="tbody">
	<!-- Day -->
	<tr class="table__info">
		<td class="table__info--data">
			<span class="table__info--game" id="game">Heidenheim : Tsv 1860 Munchen</span>
			<br><span class="table__info--leage"><time class="table__info--time">20:30</time>
			0877 Deutschland 2. Bundesliga
				<div class="table__info--right">
					<img src="../assets/icons/stats.svg" alt="Stats.svg" class="table__info--img">
				</div>
			</span>
		</td>

		<!-- Tipp (qouta) -->
		<td class="table__info--qouta" id="qouta">2.15</td>
		<td class="table__info--qouta" id="qouta">3.50</td>
		<td class="table__info--qouta" id="qouta">3.20</td>

		<!-- Uber -->
		<td class="table__info--qouta1" id="qouta">1.80</td>
		<td class="table__info--qouta1" id="qouta">1.76</td>

		<!-- Tipp1 (qouta) -->
		<td class="table__info--qouta" id="qouta">2.15</td>
		<td class="table__info--qouta" id="qouta">3.50</td>
		<td class="table__info--qouta" id="qouta">3.20</td>


		<!-- Tor -->
		<td class="table__info--qouta1" id="qouta">2.15</td>
		<td class="table__info--qouta1" id="qouta">3.50</td>
		<td class="table__info--qouta1" id="qouta">3.20</td>

		<!-- Geld -->
		<td class="table__info--qouta" id="qouta">1.31</td>
		<td class="table__info--qouta" id="qouta">2.75</td>

		<!-- Empty  -->
		<td class="table__info--qouta1">+32</td>
	</tr>
	<tr class="table__info--dark">
		<td class="table__info--data">
			<span class="table__info--game" id="game">Fortuna Dusseldorf : Eintracht Braunschweig</span>
			<br><span class="table__info--leage"><time class="table__info--time">21:30</time>
			0877 Deutschland 2. Bundesliga
				<div class="table__info--right">
					<img src="../assets/icons/stats.svg" alt="Stats.svg" class="table__info--img">
				</div>
			</span>
		</td>

		<!-- Tipp (qouta) -->
		<td class="table__info--qouta" id="qouta">2.15</td>
		<td class="table__info--qouta" id="qouta">3.50</td>
		<td class="table__info--qouta" id="qouta">3.20</td>

		<!-- ‚Uber -->
		<td class="table__info--qouta1" id="qouta">1.80</td>
		<td class="table__info--qouta1" id="qouta">1.76</td>

		<!-- Tipp‚1 (qouta) -->
		<td class="table__info--qouta" id="qouta">2.15</td>
		<td class="table__info--qouta" id="qouta">3.50</td>
		<td class="table__info--qouta" id="qouta">3.20</td>

		<!-- Tor (qouta) -->
		<td class="table__info--qouta1" id="qouta">2.15</td>
		<td class="table__info--qouta1" id="qouta">3.50</td>
		<td class="table__info--qouta1" id="qouta">3.20</td>

		<!-- Geld -->
		<td class="table__info--qouta" id="qouta">1.31</td>
		<td class="table__info--qouta" id="qouta">2.75</td>

		<!-- Empty  -->
		<td class="table__info--qouta1">+32</td>
	</tr>
</tbody>