<thead id="thead">
	<tr class="table__day">
		<!-- Day -->
		<th class="table__day--header"><span class="table__day--date">Freitag, 22.08.2014</span></th>

		<!-- Tipp -->
		<th class="table__day--tipp" colspan="3">
			<span class="table__day--tip" id="col">Tipp</span><br>
			<span>1</span>
			<span>X</span>
			<span>2</span>
		</th>

		<!--Uber-->
		<th class="table__day--uber" colspan="2">
			<span id="col">Uber/Unter 2.5</span><br>
			<span class="table__day--ubr">
				<span>0-2</span>
				<span>3+</span>
			</span>
		</th>

		<!-- Tipp 1 -->
		<th class="table__day--tipp1" colspan="3">
			<span id="col">Tipp 1. Halbzeil</span><br>
			<span class="table__day--tip1">
				<span>1</span>
				<span>X</span>
				<span>2</span>
			</span>
		</th>

		<!-- Tor 1 -->
		<th class="table__day--tor" colspan="3">
			<span id="col">Erzielt das erste Tor</span><br>
			<span class="table__day--tors">
				<span>1</span>
				<span>2</span>
			</span>
		</th>

		<!-- Geld -->
		<th class="table__day--geld" colspan="2">
			<span id="col">Unentsch Geld zurch</span><br>
			<span class="table__day--tors">
				<span>1</span>
				<span>2</span>
			</span>
		</th>

		<!--Empty-->
		<th class="table__day--empty" colspan="2"></th>
	</tr>
</thead>